{% extends 'base.html' %}
{% include 'header.html' %}

{% block title %} Home {% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col md-12">
            <div class="bg-light p-3">
                <h2>Manage <b>ETFs</b> <button type="button"  class="btn btn-success float-right"
                                               data-toggle="modal" data-target="#mymodal">Add New ETF</button>
                </h2>
                <table class="table table-hover table-dark">
                    <tr>
                        <th>ISIN</th>
                        <th>Nome</th>
                        <th>Ticker</th>
                        <th>Volatilità</th>
                        <th>Dividendo</th>
                        <th></th>
                    </tr>
                    <tr>
                        <td>FR0010315770</td>
                        <td>Lyxor MSCI World UCITS ETF D-EUR</td>
                        <td>WLD.MI</td>
                        <td>9.33</td>
                        <td>Distribuzione</td>
                        <td>
                            <a href="" class="btn btn-warning btn-xs" data-toggle="modal" data-target="">Edit</a>
                            <a href="" class="btn btn-danger btn-xs" onclick="return confirm('Are You Sure To Delete ?')">Delete</a>
                        </td>
                    </tr>
                </table>
           
        </div>
    </div>
</div>

{% endblock %}
